<div class="page-content">
  <header class="page-content-header">
    <div class="container-fluid">
      <div class="tbl">
        <div class="tbl-row">
          <div class="tbl-cell">
            <h3>Investments <small class="text-muted m-l"><%= Investment.count %></small></h3>
          </div>
          <div class="tbl-cell tbl-cell-action">
            <%= link_to 'New Investment', new_investment_path, class: "btn btn-rounded" %>
          </div>
        </div>
      </div>
    </div>
  </header><!--.page-content-header-->  

  <div class="container">
    <div class="row">

      <p id="notice"><%= notice %></p>

        <div class="pull-right">
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </div>

    <h1>Listing Investments</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Size</th>
          <th>Description</th>
          <th>Type</th>
          <th>Revenue share</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Company</th>
          <th>Industry</th>
          <th>Stage</th>
          <th>Location</th>
          <th>Expected return</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @investments.each do |investment| %>
          <tr>
            <td><%= investment.title %></td>
            <td><%= investment.size %></td>
            <td><%= investment.description %></td>
            <td><%= investment.type %></td>
            <td><%= investment.revenue_share %></td>
            <td><%= investment.start_date %></td>
            <td><%= investment.end_date %></td>
            <td><%= investment.company_id %></td>
            <td><%= investment.industry %></td>
            <td><%= investment.stage %></td>
            <td><%= investment.location %></td>
            <td><%= investment.expected_return %></td>
            <td><%= link_to 'Show', investment %></td>
            <td><%= link_to 'Edit', edit_investment_path(investment) %></td>
            <td><%= link_to 'Destroy', investment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Investment', new_investment_path %>
</div>
</div>