<div class="page-content">
  <div class="profile-header-photo gradient" style="background-image: url(http://vestedworld.com/app/uploads/2016/03/3-1600x870.jpg)">
    <div class="profile-header-photo-in">
      <div class="tbl-cell">
        <div class="info-block">
          <div class="container">
            <div class="row">
              <div class="col-xl-9 col-xl-offset-3 col-lg-8 col-lg-offset-4 col-md-offset-0">
                <div class="tbl info-tbl">
                  <div class="tbl-row">
                    <div class="tbl-cell">
                      <p class="title"><%= @user.name %> </p>
                      <p>Company Founder</p>
                    </div>
                    <div class="tbl-cell tbl-cell-stat">
                      <div class="inline-block">
                        <p class="title">0</p>
                        <p>Followers</p>
                      </div>
                    </div>
                    <div class="tbl-cell tbl-cell-stat">
                      <div class="inline-block">
                        <p class="title">0</p>
                        <p>Photos</p>
                      </div>
                    </div>
                    <div class="tbl-cell tbl-cell-stat">
                      <div class="inline-block">
                        <p class="title">0</p>
                        <p>Videos</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="change-cover">
      <i class="font-icon font-icon-picture-double"></i>
      Change cover
      <input type="file"/>
    </button>
  </div><!--.profile-header-photo-->

  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4">
        <aside class="profile-side">
          <section class="box-typical profile-side-user">
            <button type="button" class="avatar-preview avatar-preview-128">
              <%= image_tag("avatar-2-128.png")%>
              <span class="update">
                <i class="font-icon font-icon-picture-double"></i>
                Update photo
              </span>
              <input type="file"/>
            </button>
            <button type="button" class="btn btn-rounded">Send a Message</button>
            <div class="btn-group">
              <button type="button"
              class="btn btn-rounded btn-primary-outline dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
                Follow
              </button>
              <div class="dropdown-menu">
                
              </div>
            </div>
            <div class="bottom-txt">Member Since June 2016</div>
          </section>

          <section class="box-typical profile-side-stat">
            <div class="tbl">
              <div class="tbl-row">
                <div class="tbl-cell">
                  <span class="number">0</span>
                  Followers
                </div>
                <div class="tbl-cell">
                  <span class="number">0</span>
                  Following
                </div>
              </div>
            </div>
          </section>

          <section class="box-typical">
            <header class="box-typical-header-sm bordered">Info</header>
            <div class="box-typical-inner">
               <p class="line-with-icon">
                <i class="font-icon font-icon-calend"></i>
                Joined 8 month ago
              </p>
              <p class="line-with-icon">
                <i class="font-icon font-icon-users-two"></i>
                Active Investor
              </p>
              <p class="line-with-icon">
                <i class="font-icon font-icon-pin-2"></i>
                New York, New York
              </p>
              <p class="line-with-icon">
                <i class="font-icon font-icon-case-3"></i>
                Growth stage, Post-MVP, 10K-30K, 2+ Founders, Africa, Latin America
              </p>
              <p class="line-with-icon">
                <i class="font-icon font-icon-learn"></i>
                VSU, Compiter Science, Master
              </p>
              <p class="line-with-icon">
                <i class="font-icon font-icon-earth"></i>
                <a href="#">Website</a>
              </p>
              <p class="line-with-icon">
                <i class="font-icon font-icon-github"></i>
                <a href="#">Nickname</a>
              </p>
            </div>
          </section>
        </aside><!--.profile-side-->
      </div>

      <div class="col-xl-9 col-lg-8">
        <section class="tabs-section">
          <div class="tabs-section-nav tabs-section-nav-left">
            <ul class="nav" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" href="#tabs-2-tab-1" role="tab" data-toggle="tab">
                  <span class="nav-link-in">About me</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tabs-2-tab-4" role="tab" data-toggle="tab">
                  <span class="nav-link-in">Settings</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tabs-2-tab-2" role="tab" data-toggle="tab">
                  <span class="nav-link-in">Activity</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tabs-2-tab-3" role="tab" data-toggle="tab">
                  <span class="nav-link-in">Projects</span>
                </a>
              </li>
            </ul>
          </div><!--.tabs-section-nav-->

          <div class="tab-content no-styled profile-tabs">
            <div role="tabpanel" class="tab-pane active" id="tabs-2-tab-1">
              <section class="box-typical box-typical-padding p-b">
                <br/>
                <div class="authform">
                  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
                    <%= devise_error_messages! %>
                    <div class="form-group">
                      <%= f.label :name %>
                      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label :email %>
                      <%= f.email_field :email, class: 'form-control' %>
                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>
                    </div>
                    <fieldset>
                      <p>You must enter your current password to make changes.</p>
                      <div class="form-group">
                        <%= f.label :current_password %>
                        <%= f.password_field :current_password, class: 'form-control' %>
                      </div>
                    </fieldset>
                    <p class="text-right">
                      <%= f.submit 'Update', :class => 'btn btn-primary' %>
                    </p>
                  <% end %>
                </div>
                <hr/>
                <h4>Cancel Account</h4>
                <p>Unhappy? We'll be sad to see you go.</p>
                <p class="text-left">
                  <%= button_to "Cancel my Account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-default' %>
                </p>
              </section>
              
            </div><!--.tab-pane-->
            <div role="tabpanel" class="tab-pane" id="tabs-2-tab-2">
              <section class="box-typical box-typical-padding">
                Activity
              </section>
            </div><!--.tab-pane-->
            <div role="tabpanel" class="tab-pane" id="tabs-2-tab-3">
              <section class="box-typical box-typical-padding">
                Projects
              </section>
            </div><!--.tab-pane-->
            <div role="tabpanel" class="tab-pane" id="tabs-2-tab-4">
              <section class="box-typical profile-settings">
                <section class="box-typical-section">
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">Name</label>
                    </div>
                    <div class="col-xl-4">
                      <input class="form-control" type="text" value="Dan Counsell"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">Position</label>
                    </div>
                    <div class="col-xl-4">
                      <input class="form-control" type="text" value="Company founder"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">About</label>
                    </div>
                    <div class="col-xl-6">
                      <textarea rows="2" class="form-control">
                        Maecenas sed diam eget risus varius blandit sit amet non magna.
                        Vestibulum id ligula porta felis euismod semper.
                      </textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">Recomendation</label>
                    </div>
                    <div class="col-xl-6">
                      <input class="form-control" type="text" value="All stream, Connected Apps, Photos, Most recent"/>
                    </div>
                  </div>
                </section>
                <section class="box-typical-section">
                  <header class="box-typical-header-sm">Info</header>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">
                        <i class="font-icon font-icon-pin-2"></i>
                        City
                      </label>
                    </div>
                    <div class="col-xl-4">
                      <input class="form-control" type="text" value="New York"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">
                        <i class="font-icon font-icon-users-two"></i>
                        Group
                      </label>
                    </div>
                    <div class="col-xl-4">
                      <input class="form-control" type="text" value="Group1, Group2"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">
                        <i class="font-icon font-icon-case-3"></i>
                        Code
                      </label>
                    </div>
                    <div class="col-xl-6">
                      <input class="form-control" type="text" value="Symfony, PHP, JavaScript, Java, Android, SQL, OOP, OOD"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">
                        <i class="font-icon font-icon-learn"></i>
                        Edication
                      </label>
                    </div>
                    <div class="col-xl-6">
                      <input class="form-control" type="text" value="VSU, Compiter Science, Master"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">
                        <i class="font-icon font-icon-github"></i>
                        Github
                      </label>
                    </div>
                    <div class="col-xl-4">
                      <input class="form-control" type="text" value="Nickname"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">
                        <i class="font-icon font-icon-earth"></i>
                        Web
                      </label>
                    </div>
                    <div class="col-xl-4">
                      <input class="form-control" type="text" value="example.com"/>
                    </div>
                  </div>
                </section>
                <section class="box-typical-section">
                  <header class="box-typical-header-sm">Skills</header>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">AngularJS</label>
                    </div>
                    <div class="col-xl-4">
                      <div class="range-settings range-slider-simple range-slider-aquamarine">
                        <input type="text" id="range-slider-1" name="example_name" value="" />
                        <div class="range-settings-percent">30%</div>
                        <div class="range-setting-actions">
                          <button type="button">
                            <i class="font-icon font-icon-pencil"></i>
                          </button>
                          <button type="button" class="del">
                            <i class="font-icon font-icon-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">Javascript</label>
                    </div>
                    <div class="col-xl-4">
                      <div class="range-settings range-slider-simple range-slider-red">
                        <input type="text" id="range-slider-2" name="example_name" value="" />
                        <div class="range-settings-percent">30%</div>
                        <div class="range-setting-actions">
                          <button type="button">
                            <i class="font-icon font-icon-pencil"></i>
                          </button>
                          <button type="button" class="del">
                            <i class="font-icon font-icon-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">Wordpress</label>
                    </div>
                    <div class="col-xl-4">
                      <div class="range-settings range-slider-simple range-slider-purple">
                        <input type="text" id="range-slider-3" name="example_name" value="" />
                        <div class="range-settings-percent">30%</div>
                        <div class="range-setting-actions">
                          <button type="button">
                            <i class="font-icon font-icon-pencil"></i>
                          </button>
                          <button type="button" class="del">
                            <i class="font-icon font-icon-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">HTML &amp; CSS</label>
                    </div>
                    <div class="col-xl-4">
                      <div class="range-settings range-slider-simple">
                        <input type="text" id="range-slider-4" name="example_name" value="" />
                        <div class="range-settings-percent">30%</div>
                        <div class="range-setting-actions">
                          <button type="button">
                            <i class="font-icon font-icon-pencil"></i>
                          </button>
                          <button type="button" class="del">
                            <i class="font-icon font-icon-trash"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-xl-2">
                      <label class="form-label">
                        <a href="#">Add new skill</a>
                      </label>
                    </div>
                    <div class="col-xl-4">
                      <div class="input-group">
                        <input type="text" class="form-control" value="Logo design">
                        <span class="input-group-btn">
                          <button class="btn btn-grey" type="button">Add</button>
                        </span>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="box-typical-section profile-settings-btns">
                  <button type="submit" class="btn btn-rounded">Save Changes</button>
                  <button type="button" class="btn btn-rounded btn-grey">Cancel</button>
                </section>
              </section>
            </div><!--.tab-pane-->
          </div><!--.tab-content-->
        </section><!--.tabs-section-->
      </div>
    </div><!--.row-->
  </div><!--.container-fluid-->
</div><!--.page-content-->



