<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>
      <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h5 class="bold">General</h5>

  <div class="form-group row">
    <div class="col-md-6">
      <label class="form-label">Company Name</label>
      <%= f.text_field :name, class: 'form-control', placeholder: "Company Name" %>
    </div>
    <div class="col-md-6">
      <label class="form-label">Industry</label>
      <%= f.select(:industry,[  ['Aerospace & Defense', 'Aerospace & Defense'], ['Agriculture', 'Agriculture'], ['Automotive', 'Automotive'], ['Chemicals', 'Chemicals'], ['Construction', 'Construction'], ['Consumer Goods & Services', 'Consumer Goods & Services'], ['Electric Power Industry', 'Electric Power Industry'], ['Agriculture', 'Agriculture'], ['Energy Industry', 'Energy Industry'], ['Financial Services', 'Financial Services'], ['Firearms & Explosives', 'Firearms & Explosives'], ['Food & Beverage', 'Food & Beverage'], ['Health Care', 'Health Care'], ['Housing & Real Estate', 'Housing & Real Estate'], ['Manufacturing', 'Manufacturing'], ['Mining & Drilling', 'Mining & Drilling'], ['Nuclear Power Industry', 'Nuclear Power Industry'], ['Oil and Gas Industry', 'Oil and Gas Industry'], ['Pharmaceuticals & Biotechnology', 'Pharmaceuticals & Biotechnology'], ['Printing & Publishing', 'Printing & Publishing'], ['Telecommunications & Media', 'Telecommunications & Media'], ['Transportation & Logistics', 'Transportation & Logistics']])%>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <label class="form-label">No. of Founders</label>
      <input type="text" class="form-control" placeholder="1, 2, 3, 4, etc.."/>
    </div>
    <div class="col-md-3">
      <label class="form-label">No. of Employees</label>
      <input type="text" class="form-control" placeholder="1, 2, 3, 4, etc.."/>
    </div>
    <div class="col-md-4">
      <label class="form-label">Geographic Area</label>
      <%= select_tag(:industry, options_for_select([['Sub-Saharan Africa', 1], ['East Asia & Pacific', 2], ['Europe, Middle East, & North Africa', 3], ['Latin America & the Caribbean', 4], ['South Asia', 5], ['Global', 6]]), class: "form-contol col-md-12" )%>
    </div>
    <div class="col-md-4">
      <%= select_tag(:industry, options_for_select([['Pre-MVP', 1], ['MVP In-Development', 2], ['Post MVP', 3], ['Post Validation & Traction', 4], ['South Asia', 5], ['Global', 6]]), class: "form-contol col-md-12" )%>
    </div>
  </div>
  <div class="form-group">
    <label class="form-label">Company Website</label>
    <input type="text" class="form-control" placeholder="Website"/>
  </div>
  <div class="form-group">
    <label class="form-label">Demo Website</label>
    <input type="text" class="form-control" placeholder="Website"/>
  </div>
  <div class="form-group row">
    <div class="col-md-5">
      <label class="form-label">Country of Incorporation</label>
      <input type="text" class="form-control" placeholder="Place of Incorporation"/>
    </div>
  </div>

  <hr/>  


  <h4 class="bold">Company Overview</h4>

  <div class="form-group row">
    <div class="col-md-3">
      Brief Description<br/>
      <small class="text-muted">Elevator Pitch</small>
    </div>
    <div class="col-md-9">
      <textarea rows="4" class="form-control" placeholder="Elevator Pitch"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      Stage of Growth
      <small class="text-muted">Investment Readiness</small>
    </div>
    <div class="col-md-9">
      <textarea rows="4" class="form-control" placeholder="Elevator Pitch"></textarea>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      Growth Projections
      <small class="text-muted">Return Expectations</small>
    </div>
    <div class="col-md-9">
      <textarea rows="4" class="form-control" placeholder=""></textarea>
    </div>
  </div>

  <hr/>

  <h4 class="bold">Pitch Deck & Financials</h4>

  <div class="form-group row">
    <div class="col-md-9">
      Upload Powerpoint Deck and Financials
    </div>
    <input>
  </div>

  <hr>

  <h4 class="bold">Social Profiles & Media</h4>

  <br/>
  <h5 class="text-primary">Social Profiles</h5>
  <div class="form-group row">
    <div class="col-md-12">
      <label class="form-label">LinkedIn</label>
      <input type="text" class="form-control" placeholder="http://LinkedIn/"/>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <label class="form-label">Twitter</label>
      <input type="text" class="form-control" placeholder="http://Twitter/"/>
    </div>
  </div>
   <div class="form-group row">
    <div class="col-md-12">
      <label class="form-label">Facebook</label>
      <input type="text" class="form-control" placeholder="http://facebook/"/>
    </div>
  </div>

  <br/>
  <h5 class="text-primary">Media</h5>
  <div class="form-group row">
    <div class="col-md-12">
      <label class="form-label">Media URL</label>
      <input type="text" class="form-control" placeholder="Copy and Paste URL"/>
    </div>
  </div>

  <hr/>  

  <h5 class="bold">Raising Capital</h5>
  <div class="form-group row">
    <div class="col-md-6">
      <label class="form-label">Amount</label>
      <input type="text" class="form-control" placeholder="Amount"/>
    </div>
    <div class="col-md-6">
      <label class="form-label">Financial Product</label>
      <input type="text" class="form-control" placeholder="Type"/>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-6">
      <label class="form-label">Financial Product</label>
      <input type="text" class="form-control" placeholder="Tax Structure"/>
    </div>
    <div class="col-md-6">
      <label class="form-label">Amount Raised to Date</label>
      <input type="text" class="form-control" placeholder="Amount Raised to date"/>
    </div>
  </div>

  <hr/>
  <div class="form-group">
    <p class="text-right">
      <%= f.submit "Submit", class: "btn btn-rounded btn-primary sign-up " %>
    </p>
  </div>
<% end %>
