<div class="page-content">
  <div class="profile-header-photo" style="background: url(http://vestedworld.com/app/uploads/2016/03/3-1024x529.jpg);">
    <div class="profile-header-photo-in">
      <div class="tbl-cell">
        <div class="info-block">
          <div class="container">
            <div class="row">
              <div class="col-xl-9 col-xl-offset-3 col-lg-8 col-lg-offset-4 col-md-offset-0">
                <div class="tbl info-tbl">
                  <div class="tbl-row">
                    <div class="tbl-cell">
                      <p class="title"><%= @company.name %></p>
                      <p><%= @company.industry %></p>
                    </div>
                    <div class="tbl-cell tbl-cell-stat">
                      <div class="inline-block">
                        <p class="title">0</p>
                        <p>Followers</p>
                      </div>
                    </div>
                    <div class="tbl-cell tbl-cell-stat">
                      <div class="inline-block">
                        <p class="title">0</p>
                        <p>Photos</p>
                      </div>
                    </div>
                    <div class="tbl-cell tbl-cell-stat">
                      <div class="inline-block">
                        <p class="title">0</p>
                        <p>Videos</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= link_to edit_company_path, type: "button", class: "change-cover" do %>
      <i class="font-icon font-icon-settings"></i>
      Edit Profile
    <% end %>
  </div><!--.profile-header-photo-->

  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4">
        <aside class="profile-side">
          <section class="box-typical profile-side-user">
            <button type="button" class="avatar-preview avatar-preview-128">
              <%= image_tag("vw-logos/symbol_blue.png")%>
              <span class="update">
                <i class="font-icon font-icon-picture-double"></i>
                Update photo
              </span>
              <input type="file"/>
            </button>
            <button type="button" class="btn btn-rounded">Follow</button>
            <div class="btn-group">
              <button type="button"
                      class="btn btn-rounded btn-primary-outline dropdown-toggle"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                I want to Invest.
              </button>
              <div class="dropdown-menu">
               
              </div>
            </div>
            <div class="bottom-txt">[Placeholder]</div>
          </section>

          <section class="box-typical profile-side-stat">
            <div class="tbl">
              <div class="tbl-row">
                <div class="tbl-cell">
                  <span class="number">0</span>
                  Followers
                </div>
                <div class="tbl-cell">
                  <span class="number"><%= @company.product_stage %></span>
                  Stage
                </div>
              </div>
            </div>
          </section>

            <section class="box-typical">
            <header class="box-typical-header-sm bordered">Company Snapshot</header>
            <div class="box-typical-inner">
              <p class="line-with-icon">
                <i class="font-icon font-icon-calend"></i>
                Joined [timestamp]
              </p>
              <p class="line-with-icon">
                <i class="font-icon font-icon-pin-2"></i>
                [Add]<br/>
                <small class="text-muted">Corporate Headquarters</small>
              </p>
              <p class="line-with-icon">
                <i class="font-icon font-icon-users-two"></i>
                [Add]<br/> 
                <small class="text-muted">Founder and CEO</small>
              </p>
              <p class="line-with-icon">
                <i class="font-icon font-icon-earth"></i>
                <a href="<%= @company.company_website %>">Company Website</a>
              </p>              
              <p class="line-with-icon">
                <i class="font-icon font-icon-case-3"></i>
                <%= @company.industry %>
              </p>
            </div>
          </section>
        </aside><!--.profile-side-->
      </div>

      <div class="col-xl-9 col-lg-8">
        <section class="tabs-section">
          <div class="tabs-section-nav tabs-section-nav-left">
            <ul class="nav" role="tablist">
              <li class="nav-item">
                <a class="nav-link" href="#activity" role="tab" data-toggle="tab">
                  <span class="nav-link-in">Corporate Activity</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#about" role="tab" data-toggle="tab">
                  <span class="nav-link-in">About</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#financials" role="tab" data-toggle="tab">
                  <span class="nav-link-in">Financials</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#team" role="tab" data-toggle="tab">
                  <span class="nav-link-in">Team</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#dataroom" role="tab" data-toggle="tab">
                  <span class="nav-link-in">Data Room</span>
                </a>
              </li>
            </ul>
          </div><!--.tabs-section-nav-->

          <div class="tab-content no-styled profile-tabs">
            




            <!-- corporate activity -->
            <div role="tabpanel" class="tab-pane" id="activity">
             <section class="box-typical box-typical-padding">
                Activity
              </section>
            </div><!--.tab-pane-->

            <!-- about-->
            <div role="tabpanel" class="tab-pane active fade in" id="about">
              <section class="box-typical box-typical-padding">
                
                <br/>
                <h4 class="text-primary">Our Vision</h4>

               <%= @company.vision %>

                <br/>
                <h4 class="text-primary">The Problem</h4>

                <%= @company.problem %>

                <br/>
                <h4 class="text-primary">Our Solution</h4>

                <%= @company.solution %>

              </section>
            </div><!--.tab-pane-->

            <!-- Financials-->
            <div role="tabpanel" class="tab-pane" id="team">
              <section class="box-typical box-typical-padding">
                Team
              </section>
            </div><!--.tab-pane-->

            <!-- Financials-->
            <div role="tabpanel" class="tab-pane" id="financials">
              <section class="box-typical box-typical-padding">
                Financials
              </section>
            </div><!--.tab-pane-->


            <!-- Financials-->
            <div role="tabpanel" class="tab-pane" id="dataroom">
              <section class="box-typical box-typical-padding">
                Data Room
              </section>
            </div><!--.tab-pane-->



          </div><!--.tab-content-->
        </section><!--.tabs-section-->
      </div>
    </div><!--.row-->
  </div><!--.container-fluid-->
</div><!--.page-content-->

<%#= link_to 'Edit', edit_company_path(@company) %> |
<%#= link_to 'Back', companies_path %>
